@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Oswald !important;
}

/*
Red: ff99c8
Yellow: fcf6bd
Green: d0f4de
Blue: a9def9
Purple: e4c1f9

off white: FDFDFD
 */

.enhancedHR {
    border-width: 5px;
    border-color: black;
}

#headerNavigation {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
    /*padding: 5px;*/
    z-index: 10;
    top: 0;
}

#headerNavInner {
    height: 100%;
    /*background-color: darkgray;*/
    float: none;
    margin: 0 auto;
}

#logoContainer {
    float: left;
    height: 100%;
    /*background-color: red;*/
}

#headerNavLogo {
    height: 90%;
    width: auto;
    vertical-align: middle;
    float: none;
}

#logoTitle {
    display: inline-block;
    margin-left: 20px;
    font-size: 24pt;
    vertical-align: middle;
    float: none;
}

#logoTitleSmall {
    display: inline-block;
    margin-left: 20px;
    font-size: 24pt;
    vertical-align: middle;
    float: none;
    display: none;
}

#navMenu {
    float: right;
    height: 100%;
}

.navMenuItem {
    height: 100%;
    /*background-color: red;*/
    display: inline-block;
    position: relative;
    width: auto;
    /*margin-right: 20px;*/
}

.navMenuText {
    font-size: 22pt;
    display: table;
    margin: 0 auto;
    margin-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.navMenuDecoration {
    width: 100%;
    height: 10%;
    background-color: green;
    position: absolute;
    bottom: 0;
}

/* pages */

.pageContent {
    /* accounts for the height of the nav bar */
    margin-top: 80px;
}

#landingPage {
    color: white;
    user-select: none;
}

#heroImageContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/tablework-dark.png");
    /*background-size: 100% 100%;*/
    background-position: center center;
    background-size: cover;
    /*filter: blur(10px);*/
    /*margin-top: 400px;*/
    top: 0;
    z-index: -10;
    position: fixed;
}

#callToAction {
    top: 80px;
    float: none;
    margin: 0 auto;
    text-align: center;
}

#ctaMessage {
    display: table;
    margin: 0 auto;
    font-size: 5em;
}

#loginButtonContainer {
    display: table;
    margin: 0 auto;
    /*font-size: 5em;*/
    margin-top: 100px;
}

.transparent_btn {
    /*display: inline-block;*/
    padding: 10px 14px;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255,255,255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
}
.transparent_btn:hover {
    background-color: rgba(255,255,255, 0.3);
    color: #FFF;
}

.transparent_btn_black {
    /*display: inline-block;*/
    padding: 10px 14px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(0,0,0, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
}

.transparent_btn_black:hover {
    background-color: rgba(0,0,0, 0.7);
    color: white;
}

.loginButton {
    font-size: 24pt;
    margin-bottom: 30px;
}

#loginButtonSeparator {
    margin-bottom: 30px;
}

#orMessage {
    display: table;
    margin: 0 auto;
    /*display: inline-block;*/
    /*width: 5%;*/
    vertical-align: middle;
    font-size: 18pt;
}

.lineButtonSep {
    display: inline-block;
    height: 2px;
    width: 45%;
    background-color: white;
    top: -10px;
}

/* general pages */

.pageTitle {
    display: table;
    margin: 0 auto;
    font-size: 48pt;
    font-weight: 175;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Survey List Display (browse page) */

#surveyListDisplay {
    display: table;
    margin: 0 auto;
    background-color: white;
}

#browsePageTitle {

}

.surveyListItem {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.surveyListItemTitle {
    font-size: 28pt;
}

.surveyListItemDesc {
    font-size: 16pt;
}

.surveyListGoButton {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 50%;
    font-size: 16pt !important;
}

.bottomSurveyItemHR {
    margin-top: 40px;
    border-width: 3px;
}

#answerPageDisplay {
    display: table;
    margin: 0 auto;
    background-color: white;
    /*min-height: 1000px;*/
}

#answerPageTitleInfo {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#answerPageTitle {
    font-size: 48pt !important;
}

.pageDesc {
    font-size: 21pt !important;
    text-align: center;
}

.centeredText {
    display: table;
    margin: 0 auto;
}

#backToBrowsePageDiv {
    margin-top: 10px;
}

#backToBrowsePageButton {
    padding-left: 15px;
    padding-right: 15px;
}

.answerListItem {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    font-size: 42pt;
    padding: 20pt;
}

.mainPageContent {
    display: table;
    margin: 0 auto;
    background-color: white;
}

#resultsPageTitle {
    font-size: 48pt;
}

#statsFromDbDiv {
    text-align: center;
    /*background-color: red;*/
    margin-bottom: 20px;
}

#totalVotesDisplayDiv {
    font-size: 28pt;
    margin-bottom: 20px;
}

#resultsListDisplayDiv {
    font-size: 42pt;
}

.resultItem {
    margin-bottom: 20px;
}

#socialTwitterAndYoutube {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 24pt;
}

#twitterSharing {
    margin-bottom: 20px;
}

#twitterShareMsg {
    margin-bottom: 10px;
}

#youtubeVideoSectionContainer {
    margin-bottom: 20px;
}

#youtubeVideoMsg {
    margin-bottom: 10px;
}

.fbphoto {
    height: 100px;
    width: 100px;
}


@media only screen and (max-width: 725px) {
    #logoTitle {
        display: none;
    }

    #logoTitleSmall {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .answerListItem {
        font-size: 36pt;
        padding: 30pt;
    }
}